<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 col-xl-5">
        <div class="card mx-2 card-auth">
          <div class="card-block p-2">
            <h1>Change your password</h1>

            <a *ngIf="alertService.lastType === 'success'" class="btn btn-block btn-outline-primary mt-1 mb-1" role="button"
              routerLink="/{{ urlPrefix }}/auth/login">Go to the login page</a>

            <p class="text-muted">Enter your new password</p>
            <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>

              <div class="form-group mb-1">
                <div class="input-group">
                  <span class="input-group-addon" aria-hidden="true">
                    <i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input [formControl]="password" type="password" id="password" name="password" class="form-control checking-field"
                    placeholder="New password" required>
                </div>
                <span id="help-block-passwd" class="help-block" *ngIf="password.touched">
                  <span id="required-passwd" class="text-danger" *ngIf="password.hasError('required')">Password is required</span>
                  <span id="invalid-passwd" class="text-danger" *ngIf="password.hasError('invalidPassword')">
                    At least 8 characters, one number, one special character, upper & lowercase letters</span>
                </span>
              </div>

              <div class="form-group mb-2">
                <div class="input-group">
                  <span class="input-group-addon" aria-hidden="true">
                    <i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input [formControl]="confirmPassword" id="repeat_password" type="password" name="repeat_password"
                    class="form-control checking-field" placeholder="Repeat password" required>
                </div>
                <span id="help-block-confirm-passwd" class="help-block" *ngIf="confirmPassword.touched">
                  <span id="required-confirm-passwd" class="text-danger" *ngIf="confirmPassword.hasError('required')">
                    Confirm Password is required</span>
                  <span id="mismatched-passwd" class="text-danger" *ngIf="confirmPassword.hasError('mismatchedPasswords')">
                    Passwords do not match</span>
                </span>
              </div>

              <div class="form-group">
                <button [disabled]="!form.valid" type="submit" id="change-passwd" class="btn btn-block btn-primary">
                  Change password</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
