<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div appCardWidget class="card">
        <div class="card-header">
          <i class="fa fa-cubes text-primary" aria-hidden="true"></i>
          {{ appDomain.community }}
          <div class="card-actions widget-controls">
            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          </div>
        </div>
        <div class="card-block widget-body communities-admin">
          <div class="main-page-menu mt-2 mb-1">
            <div *ngIf="communities.length > 1" class="input-group view-expert-community mb-1 pull-left">
              <div class="input-group-addon" aria-hidden="true"><i class="fa fa-cubes"></i></div>
              <select #community class="form-control" name="community" size="1"
                [ngClass]="{'senior-community': isSeniorOrangeExpert}"
                (change)="onCommunityChange(community.options[community.selectedIndex].value)">
                <option value="" disabled selected hidden>Select a community</option>
                <ng-template ngFor let-community [ngForOf]="communities" let-communityIdx="index">
                  <option [value]="communityIdx" [selected]="communityIdx === selectedCommunityIndex">
                    {{ community.name }}
                  </option>
                </ng-template>
              </select>
            </div>

            <button *ngIf="shouldUpdateCommunity" id="cancel-community" class="btn btn-outline-info btn-cancel-community pull-left mb-1 ml-1"
              (click)="toggleCommunityUpdate()">Cancel</button>
            <button *ngIf="shouldUpdateCommunity" id="valid-community" class="btn btn-primary btn-update-community pull-left mb-1 ml-1"
              (click)="syncCommunityUpdateWithBackend()">Update</button>
          </div>

          <div *ngIf="selectedCommunityIndex === -1 && selectedFormType !== 'error'" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>

          <ng-template #rtEmail let-r="result" let-t="term">
            {{ r.email }}{{ r.lastname && r.firstname ? ' (' + r.firstname + ' ' + r.lastname + ')' : ''}}
          </ng-template>

          <div *ngIf="selectedCommunityIndex !== -1" class="selected-community-settings">
            <section class="community-name">
              <div class="section-part-header">
                <h5>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span>Community name</span>
                </h5>
              </div>
              <div class="content-body">
                <editable [enabled]="!isSeniorOrangeExpert" id="community-name-click"
                (save)="updateCommunity('name', communityNameCtrl)">
                  <ng-template viewMode>
                    {{ selectedCommunity.name }}
                  </ng-template>
                  <ng-template editMode>
                    <div class="form-group">
                      <input
                        class="form-control"
                        id="community-name-click-edit"
                        editableFocusable
                        placeholder="Community name"
                        type="text"
                        [formControl]="communityNameCtrl">
                    </div>
                  </ng-template>
                </editable>
              </div>
            </section>

            <section class="community-main-referent">
              <div class="section-part-header">
                <h5>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span>Main Referent</span>
                </h5>
              </div>
              <div class="content-body">
                <div id="referent-name">
                  {{ selectedCommunity.referentName }}
                </div>
                <editable id="community-referent-mail-click"
                (save)="updateCommunity('referentMail', communityReferentMailCtrl)">
                  <ng-template viewMode>
                    {{ selectedCommunity.referentMail }}
                  </ng-template>
                  <ng-template editMode>
                    <div class="form-group">
                      <input id="community-referent-mail-click-edit" type="text" class="form-control" editableFocusable [class.is-invalid]="referentSearchFailed"
                        [(ngModel)]="selectedCommunity.referentMail" [ngbTypeahead]="searchReferentByEmail" [resultTemplate]="rtEmail"
                        [inputFormatter]="formatterReferentEmail" placeholder="Referent's email" [formControl]="communityReferentMailCtrl">
                      <div class="invalid-feedback" *ngIf="referentSearchFailed && selectedCommunity.referentMail">Sorry, suggestions could not be loaded.</div>
                    </div>
                  </ng-template>
                </editable>
              </div>
            </section>

            <section class="community-other-referents">
              <div class="section-part-header">
                <h5>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span>Other Referents</span>
                </h5>
              </div>
              <div class="content-body">
                <ng-template ngFor let-referent [ngForOf]="otherReferents" let-refIdx="index">
                  <div class="other-referent mb-1">
                    <div class="select-referent">
                      <editable id="other-referent-checkbox-{{ refIdx }}">
                        <ng-template viewMode>
                          <i aria-hidden="true" class="fa fa-minus-circle text" [ngClass]="{'text-danger': referent.checked}"></i>
                        </ng-template>
                        <ng-template editMode>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              id="other-referent-checkbox-{{ refIdx }}-edit"
                              [checked]="referent.checked"
                              (change)="selectOtherReferent(refIdx)"
                              type="checkbox">
                          </div>
                        </ng-template>
                      </editable>
                    </div>
                    <div class="referent-name">
                      {{ referent.name }}<br/>
                      {{ referent.email }}
                    </div>
                  </div>
                </ng-template>
                <button *ngIf="removingOtherReferents" class="btn btn-outline-info btn-cancel-remove-referent mb-3" (click)="cancelRemovingReferents()">Cancel</button>
                <button *ngIf="removingOtherReferents" class="btn btn-primary btn-remove-referent ml-1 mb-3" (click)="removeSelectedReferents()">Remove referent(s)</button>
                <div class="w-100"></div>

                <button *ngIf="!addingMoreReferent; else add_more_referent"class="btn btn-outline-info btn-more-referent mt-1"
                  (click)="addingMoreReferent =! addingMoreReferent">Add another referent</button>
                <ng-template #add_more_referent>
                  <div class="input-group mt-2 mb-1">
                    <input type="text" class="form-control" [class.is-invalid]="userSearchFailed"
                    [(ngModel)]="enteredEmail" [ngbTypeahead]="searchUserByEmail" [resultTemplate]="rtEmail"
                    [inputFormatter]="formatterEmail" placeholder="Search by email">
                    <div class="invalid-feedback" *ngIf="referentSearchFailed && enteredEmail">Sorry, suggestions could not be loaded.</div>
                  </div>
                  <button class="btn btn-outline-info  btn-cancel-more-referent" (click)="addingMoreReferent =! addingMoreReferent">Cancel</button>
                  <button class="btn btn-primary btn-add-referent ml-1" (click)="addAsReferent()">Add as referent</button>
                </ng-template>

              </div>
            </section>

            <section class="community-forms-start-editing">
              <div class="section-part-header">
                <h5>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span>Application forms</span>
                </h5>
              </div>
              <div class="content-body application-forms">
                <div class="application-type-radios">
                  <div id="start-editing-new-app" class="radio abc-radio abc-radio-primary mb-1">
                    <input type="radio" id="radio1" name="application-type" [(ngModel)]="selectedFormType" value="new" (change)="changeFormType($event)"
                      checked>
                    <label for="radio1">
                      <strong>New application</strong>
                    </label>
                  </div>
                  <div *ngIf="urlPrefix !== appConfig.settings!.domains[2] && !isSeniorOrangeExpert" id="start-editing-renew-app" class="radio abc-radio abc-radio-primary mb-1">
                    <input type="radio" id="radio2" name="application-type" [(ngModel)]="selectedFormType" value="renew" (change)="changeFormType($event)">
                    <label for="radio2">
                      <strong>Renewal application</strong>
                    </label>
                  </div>
                </div>

                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="select-form-action" ngbDropdownToggle>{{ formModificationChoice }}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button id="draft-template" class="hint" [disabled]="(selectedFormType === 'new' && communities[selectedCommunityIndex].newFormDraft === undefined)
                      || (selectedFormType === 'renew' && communities[selectedCommunityIndex].renewalFormDraft === undefined)"
                      [ngClass]="{ 'text-primary': (selectedFormType === 'new' && communities[selectedCommunityIndex].newFormDraft)
                      || (selectedFormType === 'renew' && communities[selectedCommunityIndex].renewalFormDraft) }"
                      (click)="selectFormModifcation(FormModification.Draft)"
                      ngbDropdownItem>Edit draft template
                      <span class="hint-text hint-right">Edit the template currently in draft</span>
                    </button>

                    <button id="current-template" class="hint" [disabled]="(selectedFormType === 'new' && communities[selectedCommunityIndex].newForm === undefined)
                      || (selectedFormType === 'renew' && communities[selectedCommunityIndex].renewalForm === undefined)"
                      (click)="selectFormModifcation(FormModification.Copy)"
                      ngbDropdownItem>Create draft from published template
                      <span class="hint-text hint-right">Create a draft template as a copy of the published template</span>
                    </button>

                    <button id="new-template" class="hint" *ngIf="(selectedFormType === 'renew' && communities[selectedCommunityIndex].newForm && !communities[selectedCommunityIndex].renewalForm)"
                      (click)="selectFormModifcation(FormModification.New)"
                      ngbDropdownItem>Create draft from “new application” template
                      <span class="hint-text hint-right">Create a draft template  for “renewal application” as a copy of “new application” template</span>
                    </button>

                    <button id="fresh-template" class="hint" (click)="selectFormModifcation(FormModification.Canvas)" ngbDropdownItem>
                      Create empty template
                      <span class="hint-text hint-right">Create a draft template with no questions in it</span>
                    </button>

                    <button id="restore-template" class="hint" [disabled]="(selectedFormType === 'new' && communities[selectedCommunityIndex].newFormBackup === undefined)
                      || (selectedFormType === 'renew' && communities[selectedCommunityIndex].renewalFormBackup === undefined)"
                      (click)="selectFormModifcation(FormModification.Restore)"
                      ngbDropdownItem>Restore last published template
                      <span class="hint-text hint-right">Create a draft from the last published application template</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="ml-1" [innerHTML]="formModificationDescription"></div>

              <button *ngIf="formModification !== ''" class="btn btn-outline-info btn-cancel-form-modification ml-1 mt-1 mb-1" (click)="selectFormModifcation('')">Cancel</button>
              <button *ngIf="formModification !== ''" class="btn btn-primary btn-start-form-modification ml-1 mt-1 mb-1" (click)="startModifyingForm()">Get started</button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
