<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa fa-cogs text-primary" aria-hidden="true"></i> Settings
        </div>
        <div class="card-block">
          <section class="end-recruitment mt-2 mb-1">
            <div class="text-primary settings-section-header">
              <h6><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Starting/Ending the
                recruitment campaign</h6>
            </div>
            <div class="settings-section-body">
              <div>
                <p *ngIf="submissionClosed !== null && !submissionClosed" class="font-weight-bold">
                  Application submission is currently open{{ urlPrefix === appConfig.settings!.domains[0] ?
                    ' for all Orange Expert communities' : '' }}.
                </p>
                <p *ngIf="submissionClosed !== null && submissionClosed" class="font-weight-bold">
                  Application submission is currently closed{{ urlPrefix === appConfig.settings!.domains[0] ?
                    ' for all Orange Expert communities' : '' }}.
                </p>
                <button *ngIf="submissionClosed !== null && !submissionClosed"
                  class="btn btn-outline-info btn-close-form-submission"
                  (click)="onOpeningClosingAppSubmission($event, closeSubmission)">
                  <i class="fa fa-calendar-times-o" aria-hidden="true"></i> &nbsp;Close form submission
                </button>
                <button *ngIf="submissionClosed !== null && submissionClosed"
                  class="btn btn-outline-primary btn-close-form-submission"
                  (click)="onOpeningClosingAppSubmission($event, closeSubmission)">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;Open form submission
                </button>
              </div>
            </div>

            <ng-template #closeSubmission let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 *ngIf="!submissionClosed" class="modal-title">Ending the recruitment campaign</h4>
                <h4 *ngIf="submissionClosed" class="modal-title">Opening the recruitment campaign</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form role="form" [formGroup]="closeSubmissionForm" (ngSubmit)="closeAppSubmission()" class="row mt-2"
                novalidate>
                <div class="modal-body">
                  <p *ngIf="!submissionClosed && urlPrefix === appConfig.settings!.domains[0]">After closing the
                    application form submission, users will not be able to apply for any OE community and the review
                    table will be automatically set up for all the communities. However, you can still grant access to a
                    latecomer for applying.</p>
                  <p *ngIf="submissionClosed && urlPrefix === appConfig.settings!.domains[0]">You are going to open the
                    recruitment campaign for the Orange Expert communities.</p>

                  <p *ngIf="!submissionClosed && urlPrefix !== appConfig.settings!.domains[0]">After closing the
                    application form submission, users will not be able to apply for {{ appDomain.name }} and the review
                    table will be automatically set up with your applicants.</p>
                  <p *ngIf="submissionClosed && urlPrefix !== appConfig.settings!.domains[0]">You are going to open the
                    recruitment campaign for the {{ appDomain.name }} program.</p>
                  <hr>

                  <h6 class="text-semibold"><strong>Please confirm your action:</strong></h6>
                  <div class="form-group">
                    <label *ngIf="!submissionClosed" class="form-control-label" for="confirm">
                      Type <code class="noselect text-danger">close submission</code> below:</label>
                    <label *ngIf="submissionClosed" class="form-control-label" for="confirm">
                      Type <code class="noselect text-danger">open submission</code> below:</label>
                    <input formControlName="confirm" type="text"
                      class="form-control text-danger text-semibold text-size-small" id="confirm" name="confirm">
                    <span class="help-block text-danger"
                      *ngIf="!submissionClosed && closeSubmissionHasError && closeSubmissionFormConfirm.hasError('invalidConfirmMsg')">
                      Write <code class="noselect">close submission</code> to confirm you want to close the application form submission.
                    </span>
                    <span class="help-block text-danger"
                      *ngIf="submissionClosed && closeSubmissionHasError && closeSubmissionFormConfirm.hasError('invalidConfirmMsg')">
                      Write <code class="noselect">open submission</code> to confirm you want to open the application form submission.
                    </span>
                  </div>
                </div>
                <div class="modal-footer mt-2">
                  <button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Cancel</button>
                  <button *ngIf="!submissionClosed" type="submit" class="btn btn-primary">Close submission</button>
                  <button *ngIf="submissionClosed" type="submit" class="btn btn-primary">Open submission</button>
                </div>
              </form>
            </ng-template>

          </section>
          <section class="grant-application-access mt-3 mb-1">
            <div class="text-primary settings-section-header">
              <h6><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Grant access to a latecomer
                after the recruitment campaign has been closed.</h6>
            </div>

            <app-user-search-by-email-name
              [description]="'When the recruitment campaign is closed, you can still grant access to one applicant by searching by his/her email address or name. Access will be limited to only 14 days.'"
              [myRole]="myRole || 'Applicant'" (userFound)="addLatecomer($event)">
            </app-user-search-by-email-name>

            <div class="pt-1 mb-1" style="clear: both">
              <p [innerHTML]="grantAccessTableInfoMessage"></p>
            </div>

            <div *ngIf="!tableReady && !grantAccessTableInfoMessage" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>

            <app-selected-users-table [tableReady]="tableReady" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
              [users]="latecomers"></app-selected-users-table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
