<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">

      <div appCardWidget class="card">
        <div *ngIf="isSeniorExpert" class="ribbon ribbon-top-right"><span>senior</span></div>

        <div class="card-header">
          <i class="fa fa-id-card-o text-primary" aria-hidden="true"></i> Reviewing Applications for {{ yearForReviews - 1 }}
          <div class="card-actions widget-controls">
            <a data-widgster="fullscreen" href="#" class="transition" (click)="manageClicksOnDocument($event)">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition" (click)="manageClicksOnDocument($event)">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>

        <div class="card-block widget-body new-applications">
          <div *ngIf="tableReady" class="review-settings mt-1 mb-1">
            <h6 *ngIf="nbAppsToReview" class="review-process-message pull-left mt-1">
              Start now the review process: <span class="text-primary">{{ nbAppsToReview < 2 ? nbAppsToReview + ' application' : nbAppsToReview
                + ' applications' }} to review.</span>
            </h6>
            <h6 *ngIf="!nbAppsToReview && (user?.role === 'Referent' || isReviewer)"
              class="review-process-message pull-left mt-1 text-primary">
              Your reviews are completed.
            </h6>
            <button type="button" class="btn btn-primary pull-right btn-review-process-settings mt-1"
              (click)="isSettingsPanelCollapsed = !isSettingsPanelCollapsed"
              [attr.aria-expanded]="!isSettingsPanelCollapsed" aria-controls="collapseSettings">
              <i class="fa fa-sliders" aria-hidden="true"></i> &nbsp;Review settings
            </button>
          </div>

          <div *ngIf="user?.role === 'Referent'" id="collapseSettings" [ngbCollapse]="isSettingsPanelCollapsed">
            <div class="card card-outline-secondary">
              <div class="card-block">
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <button [disabled]="!applicants" type="button" class="btn btn-outline-primary"
                      (click)="refreshReviewTable($event)">
                      <i class="fa {{ refreshTableBtn }}" aria-hidden="true"></i> &nbsp;Refresh review table
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <button [disabled]="!applicants || excelExportBtn==='fa-spinner fa-pulse fa-fw'" type="button"
                      class="btn btn-outline-primary"
                      [appXlsxExport]="{community: expertCommunity, communityId: expertCommunityId, year: yearForReviews}"
                      [xlsxDataType]="'reviews'" [xlsxFileName]="'export-applications-reviews.xlsx'" [isSeniorExpert]="isSeniorExpert"
                      (backEndResponse)="onExcelExport($event)">
                      <i class="fa  {{ excelExportBtn }}" aria-hidden="true"></i> &nbsp;Export table as Excel
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-6 col-md-3 setting-title">
                    Set the review table visible
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" [ngModel]="startReviewing"
                        (ngModelChange)="onStartReviewingChange($event)">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-3 setting-title">
                    <button type="button" class="btn btn-secondary" (click)="contactAllReviewers()">
                      Contact all the reviewers
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-6 col-md-3 setting-title">
                    Allow reviewers to select their applicants
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" [ngModel]="canAssignReviewers"
                        (ngModelChange)="onCanAssignReviewersChange($event)">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-4 setting-title">
                    Lock reviewer-entered data (freeze their reviews)
                  </div>
                  <div class="col-sm-6 col-md-2">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" [ngModel]="lockReviewers"
                        (ngModelChange)="onLockReviewersChange($event)">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-6 col-md-3 setting-title">
                    Allow a reviewer to see other reviews
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" [ngModel]="visibleReviews"
                        (ngModelChange)="onVisibleReviewsChange($event)">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <div ngbDropdown #dropd="ngbDropdown" (document:click)="dropd.close()"
                      (click)="$event.stopPropagation()" [autoClose]='false'
                      (openChange)="hideColumnsDropdownStateChange($event)" class="d-inline-block">
                      <button class="btn btn-outline-info" id="hideColumns" ngbDropdownToggle>
                        Hide columns from reviewers
                      </button>
                      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="hideColumns">
                        <button class="dropdown-item" (click)="addColumnsAsHidden('strong-accept')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('strong-accept') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('strong-accept') !== -1}"
                            aria-hidden="true"></i> # Strong accept</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('weak-accept')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('weak-accept') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('weak-accept') !== -1}"
                            aria-hidden="true"></i> # Weak accept</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('fair')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('fair') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('fair') !== -1}"
                            aria-hidden="true"></i> # Fair</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('weak-reject')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('weak-reject') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('weak-reject') !== -1}"
                            aria-hidden="true"></i> # Weak reject</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('strong-reject')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('strong-reject') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('strong-reject') !== -1}"
                            aria-hidden="true"></i> # Strong reject</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('total-score')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('total-score') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('total-score') !== -1}"
                            aria-hidden="true"></i> Total score</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('rate-count')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('rate-count') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('rate-count') !== -1}"
                            aria-hidden="true"></i> Nb. reviewers</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('review-count')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('review-count') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('review-count') !== -1}"
                            aria-hidden="true"></i> Nb. reviews</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('avg-score')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('avg-score') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('avg-score') !== -1}"
                            aria-hidden="true"></i> Avg. score</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('std-dev-score')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('std-dev-score') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('std-dev-score') !== -1}"
                            aria-hidden="true"></i> Std.Dev. score</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('final-review-comments')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('final-review-comments') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('final-review-comments') !== -1}"
                            aria-hidden="true"></i> Comments</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('final-review-status')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('final-review-status') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('final-review-status') !== -1}"
                            aria-hidden="true"></i> Status</button>
                        <button class="dropdown-item" (click)="addColumnsAsHidden('final-review-recommendation')"><i class="fa"
                            [ngClass]="{'fa-eye': hiddenColumnsFromReviewers!.indexOf('final-review-recommendation') === -1, 'fa-eye-slash fa-lg text-primary': hiddenColumnsFromReviewers!.indexOf('final-review-recommendation') !== -1}"
                            aria-hidden="true"></i> Final recommendation</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="user?.role !== 'Referent'" id="collapseSettings" [ngbCollapse]="isSettingsPanelCollapsed">
            <div class="card card-outline-secondary">
              <div class="card-block">
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <button [disabled]="!applicants" type="button" class="btn btn-outline-primary"
                      (click)="refreshReviewTable($event)">
                      <i class="fa {{ refreshTableBtn }}" aria-hidden="true"></i> &nbsp;Refresh review table
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <button type="button" class="btn btn-secondary" (click)="contactReferent()">
                      Contact the referent
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="errorMessage" class="pt-1 mb-1" style="clear: both">
            <h6 [innerHTML]="errorMessage"></h6>
          </div>

          <div *ngIf="!tableReady && !errorMessage && !alertService.lastType" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>

          <div [hidden]="!tableReady" class="application-review-matrix mt-1 mb-2">
            <div id="tooltip" data-balloon="" data-balloon-length="fit" data-balloon-pos="up-right"></div>

            <div *ngIf="activeApplicantIndex >= 0 && activeReviewerIndex >= 0" class="reviewer-bubble">
              <div class="reviewer-bubble-title">
                <h6>Review applicant</h6>
              </div>
              <select class="take-review"
                [ngModel]="applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviews"
                (ngModelChange)="onReviewerAssignmentChange($event)" (click)="$event.stopPropagation()"
                [disabled]="!canAssignReviewers && user!.role !== 'Referent'">
                <option value="">Review?</option>
                <option value="yes">Yes</option>
                <option value="maybe">Maybe</option>
                <option value="no">No</option>
              </select>
              <select class="reviewer-rate"
                [ngModel]="applicants![activeApplicantIndex].reviewers[activeReviewerIndex].rating.rate"
                (ngModelChange)="onReviewerRateChange($event)" (click)="$event.stopPropagation()"
                [hidden]="applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviews === 'no'"
                [disabled]="!canAssignReviewers && user!.role !== 'Referent' && applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviews === ''">
                <option value="">Give a rate</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0">0</option>
                <option value="+1">+1</option>
                <option value="+2">+2</option>
              </select>

              <button type="button" class="btn btn-secondary" (click)="openReviewerModal(reviewerModal, $event)"
                [hidden]="applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviews === 'no'"
                [disabled]="!canAssignReviewers && user!.role !== 'Referent' && applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviews === ''">
                Add comments
              </button>

              <button *ngIf="user!.role === 'Referent'" type="button" class="btn btn-outline-primary"
                (click)="contactReviewer()">Contact reviewer</button>
            </div>

            <ng-template #reviewerModal let-c="close" let-d="dismiss">
              <div *ngIf="activeApplicantIndex >= 0 && activeReviewerIndex >= 0" class="modal-header">
                <h4 class="modal-title">
                  <span
                    class="text-primary">{{applicants![activeApplicantIndex].applicant.firstname}}
                    {{applicants![activeApplicantIndex].applicant.lastname}}</span><br /> Reviewed by <span
                    class="text-primary">
                    {{ applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviewer.firstname + ' ' +
                    applicants![activeApplicantIndex].reviewers[activeReviewerIndex].reviewer.lastname }}
                  </span>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form role="form" [formGroup]="reviewerCommentForm" (ngSubmit)="updateReviewerComment()" class="mt-2"
                novalidate>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="form-control-label" for="textarea-reviewer-comment">Comments</label>
                    <textarea formControlName="textarea-reviewer-comment" id="textarea-reviewer-comment"
                      name="textarea-reviewer-comment" rows="3" class="form-control"
                      placeholder="Write your comments on the applicant..."></textarea>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="reviewer-rate">Rate</label>
                    <select formControlName="reviewer-rate" id="reviewer-rate" class="form-control"
                      name="reviewer-rate">
                      <option value="">Give a rate</option>
                      <option value="-2">-2</option>
                      <option value="-1">-1</option>
                      <option value="0">0</option>
                      <option value="+1">+1</option>
                      <option value="+2">+2</option>
                    </select>
                  </div>

                </div>
                <div class="modal-footer mt-2">
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </ng-template>


            <ng-template #reviewReportModal let-c="close" let-d="dismiss">
              <div *ngIf="activeApplicantIndex >= 0" class="modal-header">
                <h4 class="modal-title">Review for {{applicants![activeApplicantIndex].applicant.firstname}}
                  {{applicants![activeApplicantIndex].applicant.lastname}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form role="form" [formGroup]="appReviewForm"
                (ngSubmit)="updateReferentReview(true, activeApplicantIndex)" class="mt-2" novalidate>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="form-control-label" for="textarea-review-comment">Comments</label>
                    <textarea formControlName="textarea-review-comment" id="textarea-review-comment"
                      name="textarea-review-comment" rows="3" class="form-control"
                      placeholder="Write your comments on the applicant..."></textarea>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="review-status">Status</label>
                    <select formControlName="review-status" id="review-status" class="form-control"
                      name="review-status">
                      <option value="">Please select</option>
                      <option value="Approved">Approved</option>
                      <option value="Rejected">Rejected</option>
                      <option value="To be discussed">To be discussed</option>
                      <option value="Waiting for info">Waiting for info</option>
                      <option value="Low contribution">Low contribution</option>
                      <option value="Next year(s)">Candidate next year(s)</option>
                      <option value="Maybe">Maybe</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="textarea-review-notes">Notes</label>
                    <textarea formControlName="textarea-review-notes" id="textarea-review-notes"
                      name="textarea-review-notes" rows="3" class="form-control"
                      placeholder="Some notes for the final recommendation..."></textarea>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="review-final-recommendation">Final recommendation</label>
                    <select formControlName="review-final-recommendation" id="review-final-recommendation"
                      class="form-control" name="review-final-recommendation">
                      <option value="">Please select</option>
                      <option value="Approved">Approved</option>
                      <option value="Rejected">Rejected</option>
                      <option value="Pending">Pending</option>
                    </select>
                  </div>

                </div>
                <div class="modal-footer mt-2">
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </form>
            </ng-template>

            <table id="review-new-applicants" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover" width="100%">
              <thead>
                <tr>
                  <th class="row-selector"></th>
                  <th class="user-name">Last name</th>
                  <th class="user-name">First name</th>
                  <th class="hidden-column">Email</th>
                  <th class="hidden-column">Application type</th>
                  <th class="hidden-column">Raw data index</th>
                  <th class="hidden-column">Community</th>

                  <ng-template *ngIf="tableReady && applicants" ngFor let-reviewer [ngForOf]="isSeniorExpert ? backupApplicants![0].reviewers : applicants![0].reviewers"
                    let-reviewerIdx="index">
                    <th class="reviewer-name {{ reviewer.reviewer.email.split('@')[0].replace('.', '-') }}"
                      [ngClass]="{'the-reviewer': reviewer.reviewer.email === user!.email }"
                      (click)="filterReviewer(reviewerIdx)">
                      <div class="vertical-writing">{{ reviewer.reviewer.firstname && reviewer.reviewer.lastname ?
                        (reviewer.reviewer.firstname | capitalizeName) + ' ' + reviewer.reviewer.lastname.toUpperCase() :
                        reviewer.reviewer.email }}</div>
                    </th>
                  </ng-template>

                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('strong-accept') === -1"
                    class="review-score strong-accept">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('strong-accept') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">#&nbsp;Strong accept</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('weak-accept') === -1"
                    class="review-score weak-accept">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('weak-accept') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">#&nbsp;Weak accept</div>
                  </th>
                  <th *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('fair') === -1"
                    class="review-score fair">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('fair') !== -1" class="hidden-column-reviewers">
                      <i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">#&nbsp;Fair</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('weak-reject') === -1"
                    class="review-score weak-reject">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('weak-reject') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">#&nbsp;Weak reject</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('strong-reject') === -1"
                    class="review-score strong-reject">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('strong-reject') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">#&nbsp;Strong reject</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('total-score') === -1"
                    class="final-review-score total-score">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('total-score') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">Total Score</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('rate-count') === -1"
                    class="final-review-score nb-reviewers">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('rate-count') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">Nb. reviewers</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('review-count') === -1"
                    class="final-review-score nb-reviews">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('review-count') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">Nb. reviews</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('avg-score') === -1"
                    class="final-review-score avg-score">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('avg-score') !== -1" class="hidden-column-reviewers">
                      <i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">Avg. score</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('std-dev-score') === -1"
                    class="final-review-score std-dev-score">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('std-dev-score') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    <div class="vertical-writing">Std. Dev. score</div>
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('final-review-comments') === -1"
                    class="final-review-comments review-report">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('final-review-comments') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    Comments
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('final-review-status') === -1"
                    class="final-review-status review-report">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('final-review-status') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    Status
                  </th>
                  <th
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('final-review-recommendation') === -1"
                    class="final-review-recommendation review-report">
                    <div *ngIf="hiddenColumnsFromReviewers!.indexOf('final-review-recommendation') !== -1"
                      class="hidden-column-reviewers"><i class="fa fa-eye-slash" aria-hidden="true"></i></div>
                    Final recommendation
                  </th>
                  <th class="review-notification">Notification</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let applicant of applicants; let applicantIdx = index">
                  <td class="row-selector"></td>
                  <td class="user-name"
                    [ngClass]="{ 'missing-reviewers': (user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('rate-count') === -1) && applicant.rate['rate-count'] === 1 }">
                    <span class="lastname" [ngClass]="{ 'new-applicant': applicant.formType === 'new' }">{{ (applicant.deadForm ? '⚠ ' : '') +
                      (applicant.applicant.lastname || '') }}</span></td>
                  <td class="user-name"
                    [ngClass]="{ 'missing-reviewers': (user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('rate-count') === -1) && applicant.rate['rate-count'] === 1 }">
                    <span class="firstname" [ngClass]="{ 'new-applicant': applicant.formType === 'new' }">{{
                      applicant.applicant.firstname ? (applicant.applicant.firstname | capitalizeName) : '' }}</span></td>
                  <td class="hidden-column">{{ applicant.applicant.email }}</td>
                  <td class="hidden-column">{{ applicant.formType }}</td>
                  <td class="hidden-column">{{ applicantIdx }}</td>
                  <td class="hidden-column">{{ applicant.communityName }}</td>

                  <ng-template ngFor let-reviewer [ngForOf]="applicant.reviewers" let-reviewerIdx="index">
                    <td class="reviewer-name" [attr.data-applicant]="applicantIdx" [attr.data-reviewer]="reviewerIdx"
                      [ngClass]="{ 'disabled': user!.role !== 'Referent' && (lockReviewers || reviewer.reviewer.email !== user!.email || (!canAssignReviewers && reviewer.reviews === 'no')), 'not-the-reviewer' : reviewer.reviewer.email !== user!.email }">
                      <span *ngIf="reviewer.reviews === 'yes' && (canAssignReviewers || !reviewer.rating.rate)"
                        class="does-review">Y</span>
                      <span *ngIf="reviewer.reviews === 'maybe' && (canAssignReviewers || !reviewer.rating.rate)"
                        class="may-review">M</span>
                      <span *ngIf="reviewer.reviews === 'no' && (user!.role === 'Referent' || canAssignReviewers)"
                        class="deny-review">N</span>
                      <div *ngIf="reviewer.reviews === 'yes' && !canAssignReviewers && reviewer.rating.rate"
                        class="reviewer-rate"
                        [ngClass]="{ 'strong-reject': reviewer.rating.rate === '-2',
                          'weak-reject': reviewer.rating.rate === '-1',
                          'fair': reviewer.rating.rate === '0',
                          'weak-accept': reviewer.rating.rate === '+1',
                          'strong-accept': reviewer.rating.rate === '+2' }">
                        <span>{{ reviewer.rating.rate }}</span>
                      </div>
                      <div *ngIf="reviewer.reviews === 'maybe' && !canAssignReviewers && reviewer.rating.rate"
                        class="reviewer-rate"
                        [ngClass]="{ 'strong-reject': reviewer.rating.rate === '-2',
                          'weak-reject': reviewer.rating.rate === '-1',
                          'fair': reviewer.rating.rate === '0',
                          'weak-accept': reviewer.rating.rate === '+1',
                          'strong-accept': reviewer.rating.rate === '+2' }">
                        <span>{{ reviewer.rating.rate }}</span>
                      </div>
                      <span *ngIf="!reviewer.reviews || (!canAssignReviewers && reviewer.reviews === 'no')"></span>
                    </td>
                  </ng-template>

                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('strong-accept') === -1"
                    class="review-score strong-accept">{{ applicant.rate['strong-accept'] || '' }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('weak-accept') === -1"
                    class="review-score weak-accept">{{ applicant.rate['weak-accept'] || '' }}</td>
                  <td *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('fair') === -1"
                    class="review-score fair">{{ applicant.rate.fair || ''}}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('weak-reject') === -1"
                    class="review-score weak-reject">{{ applicant.rate['weak-reject'] || '' }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('strong-reject') === -1"
                    class="review-score strong-reject">{{ applicant.rate['strong-reject'] || '' }}</td>

                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('total-score') === -1"
                    class="final-review-score total-score"
                    [ngClass]="{ 'accepted': applicant.rate['total-score'] > 0, 'fair': applicant.rate['total-score'] === 0,'refused': applicant.rate['total-score'] < 0 }">
                    {{ applicant.rate['total-score'] }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('rate-count') === -1"
                    class="final-review-score nb-reviewers">{{ applicant.rate['rate-count'] }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('review-count') === -1"
                    class="final-review-score nb-reviews">{{ applicant.rate['review-count'] }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('avg-score') === -1"
                    class="final-review-score avg-score"
                    [ngClass]="{ 'accepted': applicant.rate['avg-score'] > 0, 'fair': applicant.rate['avg-score'] === 0,'refused': applicant.rate['avg-score'] < 0 }">
                    {{ applicant.rate['avg-score'] }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('std-dev-score') === -1"
                    class="final-review-score std-dev-score">{{ applicant.rate['std-dev-score'] }}</td>

                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('final-review-comments') === -1"
                    class="final-review-comments review-report" [attr.data-applicant]="applicantIdx"
                    [ngClass]="{ 'disabled': user!.role !== 'Referent' && !applicant.deliberation.comments }"
                    (click)="openReviewModal(reviewReportModal, applicantIdx, $event)">{{
                    applicant.deliberation.comments }}</td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('final-review-status') === -1"
                    class="final-review-status review-report" [ngClass]="{ 'disabled': user!.role !== 'Referent' }"
                    (click)="openReviewModal(reviewReportModal, applicantIdx, $event)">
                    <span
                      [hidden]="!applicant.deliberation.status"
                      [ngClass]="{ 'accepted': applicant.deliberation.status === 'Approved', 'refused': applicant.deliberation.status === 'Rejected' }">
                      {{ applicant.deliberation.status }}
                    </span>
                  </td>
                  <td
                    *ngIf="user?.role === 'Referent' || hiddenColumnsFromReviewers!.indexOf('final-review-recommendation') === -1"
                    class="final-review-recommendation review-report"
                    [ngClass]="{ 'disabled': user!.role !== 'Referent' }"
                    (click)="openReviewModal(reviewReportModal, applicantIdx, $event)">
                    <span [hidden]="!applicant.deliberation.recommendation"
                      [ngClass]="{ 'accepted': applicant.deliberation.recommendation === 'Approved',
                        'refused': applicant.deliberation.recommendation === 'Rejected',
                        'pending': applicant.deliberation.recommendation === 'Pending' }">
                      {{ applicant.deliberation.recommendation }}
                    </span>
                  </td>
                  <td class="review-notification" [ngClass]="{ 'disabled': user!.role !== 'Referent' }"
                    (click)="changeReviewNotification(applicantIdx)">
                    <span *ngIf="applicant.notification ==='email' && !applicant.notifying"
                      class="notification-change"><i class="fa fa-envelope" aria-hidden="true"
                        style="pointer-events:none;"></i> &nbsp;to Applicant</span>
                    <span *ngIf="applicant.notification ==='phone' && !applicant.notifying"
                      class="notification-change"><i class="fa fa-phone" aria-hidden="true"
                        style="pointer-events:none;"></i> &nbsp;to Applicant</span>
                    <span *ngIf="applicant.notification ==='phone-manager' && !applicant.notifying"
                      class="notification-change"><i class="fa fa-phone" aria-hidden="true"
                        style="pointer-events:none;"></i> &nbsp;&nbsp;&nbsp;w. Manager</span>
                    <select *ngIf="applicant.notifying" class="notification-select" [ngModel]="applicant.notification"
                      (ngModelChange)="onReviewNotificationChange($event, applicantIdx)">
                      <option value="">Select</option>
                      <option value="email">Email to applicant</option>
                      <option value="phone">Phone to applicant</option>
                      <option value="phone-manager">Phone w. manager</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
