.welcome-msg {
  padding-top: 40px;

  h5 {
    margin-bottom: 10px;
  }
}

.community-selection {
  padding-top: 40px;
}

.welcome-contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.renewal-selection {
  margin-top: 60px;
}

.application-type-radios {
  width: 280px;
  margin: 0 auto;

  .hint-top {
    left: 0;
    width: 300px;
  }
}

.app-for-user-warning {
  margin-top: 100px;
}
