.battery-levels-bottom-spacing {
  margin-bottom: 15px;
}

.battery-0 {
  color: #e74c3c;
  padding-top: 2px;
}

.battery-1 {
  color: #f39c12;
  padding-top: 2px;
}

.battery-2 {
  color: #f1c40f;
  padding-top: 2px;
}

.battery-3 {
  color: #2ecc71;
  padding-top: 2px;
}

.battery-4 {
  color: #27ae60;
  padding-top: 2px;
}
