.forms-table {
  .main-page-menu {
    h6 {
      clear: both;
      padding-top: 40px;
    }
  }
}

@media screen and (max-width: 540px) {
  .forms-table {
    .main-page-menu {
      .btn-export-excel {
        width: 100%;
        margin-top: 0 !important;
      }
    }
  }
}
