<div *ngIf="formElement.options?.mandatory" class="text-danger">
  <i class="fa fa-exclamation-circle" style="margin-right: 5px;" aria-hidden="true"></i>
  {{ formElement.options?.mandatoryHint || 'Mandatory question, you must answer before going to next step.' }}
</div>
<label class="form-control-label" for="{{ formElement.name }}" [innerHTML]="formElement.label"></label>
<ckeditor
  data-test="form-textarea"
	[(ngModel)]="ckeditorContent"
	[config]="config"
	(change)="onChange($event)"
	(ready)="onReady($event)"
	(focus)="onFocus($event)"
	(blur)="onBlur($event)"
	debounce="500"
  id="{{ formElement.name }}">
</ckeditor>
