<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 col-xl-5">
        <div class="card mx-2 card-auth">
          <div class="card-block p-2">
            <h1>Recover your account</h1>

            <p class="text-muted">
              Enter your email address hereafter and we will send you a link to recover your account.
            </p>
            <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>
              <div class="form-group mb-1">
                <div class="input-group">
                  <span class="input-group-addon" aria-hidden="true">@</span>
                  <input [formControl]="email" type="email" name="email" id="email"
                    class="form-control checking-field text-lowercase" placeholder="Email" required
                    (focus)="alertService.clear()">
                </div>
                <span class="help-block" *ngIf="email.touched">
                  <span class="text-danger" *ngIf="email.hasError('required')">Email is required</span>
                  <span class="text-danger" *ngIf="email.hasError('invalidEmail')">Invalid email address</span>
                </span>
              </div>

              <div class="form-group">
                <button [disabled]="!form.valid" type="submit" id="reset-passwd" class="btn btn-block btn-primary">Send now</button>
              </div>
            </form>

            <div class="row">
              <div class="col-12 text-left">
                <button type="button" class="btn btn-link px-0" routerLink="/hello">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> Go back</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
