# Define the url of the server for the reverse proxy
REVERSE_PROXY_BACKEND=http://oswe-backend:4040

# Bind the http server to the port 
FRONTEND_PORT=4200

FRONTEND_TLS_CERTIFICATE=oema.cert.cer
FRONTEND_TLS_KEY=oema.key.pem
