<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 col-xl-5">
        <div class="card mx-2 card-auth">
          <div class="card-block p-2">
            <h1>Change your account email</h1>

            <p><b>Ensure you have signed in with Orange Connect on OEMA.</b></p><p>Then, confirm you want to change your account email.</p>
            <button [disabled]="changing" (click)="changeAccountEmail()" id="change-email" class="btn btn-block btn-primary mt-1">
              Change account email</button>
          </div>

          <ng-template #privacyPolicy let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title text-primary">{{ appDomain.policy.title }}</h4>
            </div>

            <div class="modal-body" [innerHTML]="appDomain.policy.body">

            </div>
            <div class="modal-footer mt-2">
              <button type="button" id="deny-policy" class="btn btn-secondary" (click)="declinePrivacyPolicy()">{{
                appDomain.policy.denyLabel }}</button>
              <button id="accept-policy" class="btn btn-primary" (click)="acceptPrivacyPolicy()">
                {{ appDomain.policy.acceptLabel }}
              </button>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
