NODE_ENV=development

BASE_URL=http://oswe-backend
PORT=4040

FRONTEND_BASEURL=http://oswe-frontend:4200

ORANGE_CONNECT_CLIENT_ID=<orange_connect_client_id>
ORANGE_CONNECT_CLIENT_SECRET=<orange_connect_client_secret>

JWT_SECRET=9hello944d-AhLala-66aac-a85e-0295c986vu9f11
JWT_EXPIRES_IN=6h

EXPRESSJS_SESSION_SECRET=HellooooA452psssss82sssssRTTRsss00sssZcat

MONGO_URI=mongodb://oema-user:oema-pwd@oswe-mongo:27017/oemadb

REDIS_HOST=oswe-redis
REDIS_PORT=6379
REDIS_PASSWORD=

SMTP_HOST=mail.gandi.net
SMTP_PORT=465
SMTP_AUTH_USER=email_to_configure@orange.com
SMTP_AUTH_PASSWD=
SMTP_PROXY=http://proxy-host:1234
MAIL_FROM='"Orange Expert Programme" <email_to_configure@orange.com>'
ADMIN_MAIL=first.lastname@orange.com
ORANGE_EXPERTS_ADMIN_MAIL=sandrine.lovisa@orange.com
SENIOR_ORANGE_EXPERTS_ADMIN_MAIL=jerome.pons@orange.com
EXPERTS_DTSI_ADMIN_MAIL=gaetan.montury@orange.com
DATA_UP_ADMIN_MAIL=orange.securityschool@orange.com

S3_ACCESS_KEY_ID=<the access key>
S3_SECRET_ACCESS_KEY=<the secret>
S3_BUCKET=<the bucket name>
S3_URL=<s3 url>

## Don't change the following section!
# Community labels in MongoDB
# bit 1
SOFTWARE=SoftwareApp
# bit 2
FUTURE_NETWORKS=NofApp
# bit 3
SECURITY=SecurityApp
# bit 4
SOLUTIONS_CONTENT_SERVICES=SolutionsContSrvApp
# bit 5
NETWORK_OPERATIONS=NetworkOpsApp
# bit 6
COMMUNICATION_SERVICES=CommSrvApp
# bit 7
ENERGY_ENVIRONMENT=EngEnvApp
# bit 8
BIG_DATA_AI=BigDataAIApp
# bit 17 (= 1 00000000 00000000)
EXPERTS_DTSI=SeniorDevDsiApp
# bit 18 (= 10 00000000 00000000)
DATA_UP=DataUpApp
